﻿body {
    background-image: url('back.jpg');
}
@keyframes pop_in {
    from {
        color: black;
    }

    to {
        color: white;
    }
}
h1 {
    color: white;
    font-size: 75px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    animation-name: pop_in;
    animation-duration: 5s;
}
button {
    border: 2px solid black;
    transition-duration: 0.4s;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    padding: 1px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;
}
button.a {
    height: 100px;
    width: 200px;
    font-size: 25px;
}
button.b {
    height: 50px;
    width: 100px;
    font-size: 15px;
}
button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}
div.rules {
    color: white;
    font-size: 30px;
}
select {
    height: 50px;
    width: 100px;
    font-size: 15px;
    border: 2px solid black;
}
td{
    height: 50px;
    width: 50px;
    border: 2px solid black;
}
table{
    background-color: black;
}
@keyframes gold {
    from {
        background-color: white;
    }
    10% {
        background-color: greenyellow;
    }
    20% {
        background-color: yellow;
    }
    30% {
        background-color: green;
    }
    40% {
        background-color: orange;
    }
    50% {
        background-color: orangered;
    }
    60% {
        background-color: red;
    }
    70% {
        background-color: darkred;
    }
    80% {
        background-color: darkblue;
    }
    90% {
        background-color: lightblue;
    }
    100% {
        background-color: gold;
    }
}
td.gold {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    color: black;
    animation-name: gold;
    animation-duration: 2s;
}
input {
    height: 50px;
    width: 100px;
    font-size: 15px;
    border: 2px solid black;
}
span.points{
    font-size: 25px;
}